<!-- Modal -->
<div class="modal fade" id="addCurriculumModal" role="dialog">
	<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Curriculum</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row">
						<label for="addName" class="col-sm-2 col-form-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="addName" placeholder="Name" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="addDescription" class="col-sm-2 col-form-label">Description</label>
						<div class="col-sm-10">
							<textarea class="span6" rows="3" placeholder="Description" id="addDescription" required></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="addLink" class="col-sm-2 col-form-label">Link</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="addLink" placeholder="Link" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="addRepDecision" class="col-sm-2 col-form-label">Representation Type</label>
						<div class="col-sm-10">
							<select class="custom-select" id="addRepDecision">
								<option value='Generated Color'>Randomly generated color</option>
								<option value='Selected Color'>Specific color</option>
								<option value='Picture'>Picture</option>
							</select>
						</div>
					</div>
					<form class="generated-color-row" style="display:none">
						<div class="form-group row">
							<label for="addGeneratedColor" class="col-sm-2 col-form-label">Generated Color</label>
							<div class="col-sm-5">
								<div class="generated-color-div"></div>
							</div>
							<div class="col-sm-5">
								<button type="button" class="btn btn-primary generate-color-btn">Generate Color</button>
							</div>
						</div>
					</form>
					<form class="selected-color-row" style="display:none">
						<div class="form-group row">
							<label for="addSelectedColor" class="col-sm-2 col-form-label">Select Color</label>
							<div class="col-sm-10">
								<input id="colorpicker">
							</div>
						</div>
					</form>
					<form class="picture-row" style="display:none">
						<div class="form-group row">
							<label for="addPic" class="col-sm-2 col-form-label">Select Picture</label>
							<div class="col-sm-10">
								<label class="custom-file">
									<input type="file" id="addPic" class="custom-file-input">
									<span class="custom-file-control"></span>
								</label>
							</div>
						</div>
					</form>
					<button class="btn btn-primary add-submit-btn" type="button" data-dismiss="modal">
						Submit
					</button>
				</form>
			</div>
		</div>
		
	</div>
</div>

<script src="../js/curriculum_add.js"></script>