<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<!-- Modal -->
<div class="modal fade" id="requestHardwareModal" role="dialog">
	<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Hardware</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row">
						<label for="requestStart" class="col-sm-2 col-form-label">Start</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group">
								<div class='input-group' id='datepicker'>
									<i class="fa fa-calendar"></i>
									<input type='text' class="form-control" id="requestStart" placeholder="MM/DD/YYYY" />
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="requestEnd" class="col-sm-2 col-form-label">End</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group">
								<div class='input-group' id='datepicker'>
									<i class="fa fa-calendar"></i>
									<input type='text' class="form-control" id="requestEnd" placeholder="MM/DD/YYYY" />
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-primary" type="button" id="request-submit-btn" data-dismiss="modal">
						Request
					</button>
				</form>
			</div>
		</div>
		
	</div>
</div>

<script src="../js/hardware_request.js"></script>