<!-- Modal -->
<div class="modal fade" id="viewMemberModal" role="dialog">
	<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Member</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row">
						<label for="viewFirstName" class="col-sm-2 col-form-label">First Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="viewFirstName">
						</div>
					</div>
					<div class="form-group row">
						<label for="viewLastName" class="col-sm-2 col-form-label">Last Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="viewLastName">
						</div>
					</div>
					<div class="form-group row">
						<label for="viewUsername" class="col-sm-2 col-form-label">Username</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="viewUsername">
						</div>
					</div>
					<div class="form-group row">
						<label for="viewEmail" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="viewEmail">
						</div>
					</div>
					<div class="form-group row">
						<label for="viewSchool" class="col-sm-2 col-form-label">School</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="viewSchool">
						</div>
					</div>
					<div class="form-group row">
						<label for="viewBio" class="col-sm-2 col-form-label">Bio</label>
						<div class="col-sm-10">
							<textarea class="span6" rows="3" id="viewBio"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="viewPicture" class="col-sm-2 col-form-label">Picture</label>
						<div class="col-sm-10">
							<input type="file" class="form-control" id="viewPicture">
						</div>
					</div>
					<div class="form-group row">
						<label for="viewGradeLevel" class="col-sm-2 col-form-label">Grade Level</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="viewGradeLevel">
						</div>
					</div>
					<div class="form-group row">
						<label for="viewPriv" class="col-sm-2 col-form-label">Privilege</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="viewPriv">
						</div>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
		
	</div>
</div>