<!doctype html>
<html>
  <head>
    <title>Lesson Plans</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <body>
    <%- include header.ejs %>
    <% for(var i=0; i<data.length; i++) { %>
			<div class='cur-card'>
				<p>
					<%= data[i].name %>
				</p>
			</div>
    <% } %>
  </body>
</html>
