<!doctype html>
<html>
  <head>
    <title>Hardware Approval</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <body>
    <%- include header.ejs %>
		<p>
			This is where admins can approve hardware requests!
		</p>
  </body>
</html>
