<!doctype html>
<html>
  <head>
    <title>Hardware Request</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <body>
    <%- include header.ejs %>
    <p>
      This is where hardware requests are made!
    </p>
  </body>
</html>
