<!DOCTYPE html>
<html lang="en">
  <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
	<body>
		<div class='header'>
			<img src="images/header/light-green-kspact.png" id="logo" alt="KS-PACT logo" height="100px" width ="183px">
			<ul>
				<li class="dropdown">
					<a href="members" class="dropbtn">Members</a>
					<div class="dropdown-content">
						<a href="members">Members</a>
						<a href="forum">Forum</a>
						<a href="member_approval">Member Approval (admins)</a>
					</div>
				</li>
				<li class="dropdown">
					<a href="hardware" class="dropbtn">Hardware</a>
					<div class= "dropdown-content">
						<a href="hardware">Hardware</a>
						<a href="hardware_request">Make a Request</a>
						<a href="hardware_approval">Request Approval (admins)</a>
						<a href="inventory_edit">Inventory Edit (admins)</a>
					</div>
				</li>
				<li><a href="curriculum">Curriculum</a></li>
				<li><a href="software">Software</a></li>
				<li class="dropdown">
					<a class="dropbtn">Your Stuff</a>
					<div class="dropdown-content">
						<a href="login">Login</a>
						<a href="profile">Profile</a>
					</div>
				</li>
				<li><a href="about">About</a></li>
			</ul>
		</div>
	</body>
