<!doctype html>
<html>
  <head>
    <title>Login/Register</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <body>
    <%- include header.ejs %>

      function validateLogin(){
        var field = document.getElementById("name").value;
        var pass = document.getElementById("pass").value;
        if(/\@/.test(field)){
          //validate email address
        }
        else{
          //validate username
        }
      }

      </script>

  </body>
</html>
