<!doctype html>
<html>
  <head>
    <title>Membership Approval</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <body>
    <%- include header.ejs %>
  </body>
</html>
