<!doctype html>
<html>
  <head>
		<%- include head.ejs %>
    <title>Login/Register</title>
  </head>
  <body>
    <%- include header.ejs %>
		<div class="container">
			<div id = "alert_placeholder"></div>
			<div class="main-card">
				<div class="proceed_options">
					<button class="btn btn-primary" type="button" data-class="signup" id="show-signup">
						Sign Up
					</button>
					<button class="btn btn-primary" type="button" data-class="login" id="show-login">
						Login
					</button>
				</div>
				<form class="signup" style="display:none">
					<div class="form-group row">
						<label for="signUpFirstName" class="col-sm-2 col-form-label">First Name</label>
						<div class="col-sm-10">
							<input type="firstName" class="form-control" id="signUpFirstName" placeholder="First Name" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="signUpLastName" class="col-sm-2 col-form-label">Last Name</label>
						<div class="col-sm-10">
							<input type="lastName" class="form-control" id="signUpLastName" placeholder="Last Name" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="signUpEmailsignUpEmail" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="signUpEmail" placeholder="Email" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="signUpUsername" class="col-sm-2 col-form-label">Username</label>
						<div class="col-sm-10">
							<input type="username" class="form-control" id="signUpUsername" placeholder="Username" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="signUpPassword" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="signUpPassword" placeholder="Password" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="signUpConfirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="signUpConfirmPassword" placeholder="Confirm Password" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="signUpSchool" class="col-sm-2 col-form-label">School</label>
						<div class="col-sm-10">
							<input type="school" class="form-control" id="signUpSchool" placeholder="School" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="signUpBio" class="col-sm-2 col-form-label">Bio</label>
						<div class="col-sm-10">
							<textarea class="span6" rows="3" placeholder="Bio" id="signUpBio" required></textarea>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-10">
							<label for="signUpGrade" class="col-sm-2 col-form-label">Grade</label><br />
							<fieldset>
								<table style="width:100%">
									<tr>
										<td><input type="checkbox" id="Kindergarden" value='Kindergarden' />Kindergarden</td>
										<td><input type="checkbox" id="1st" value='1st' />1st</td>
										<td><input type="checkbox" id="2nd" value='2nd' />2nd</td>
										<td><input type="checkbox" id="3rd" value='3rd' />3rd</td>
									</tr>
									<tr>
										<td><input type="checkbox" id="4th" value='4th' />4th</td>
										<td><input type="checkbox" id="5th" value='5th' />5th</td>
										<td><input type="checkbox" id="6th" value='6th' />6th</td>
										<td><input type="checkbox" id="7th" value='7th' />7th</td>
									</tr>
									<tr>
										<td><input type="checkbox" id="8th" value='8th' />8th</td>
										<td><input type="checkbox" id="9th" value='9th' />9th</td>
										<td><input type="checkbox" id="10th" value='10th' />10th</td>
										<td><input type="checkbox" id="11th" value='11th' />11th</td>
									</tr>
									<tr>
										<td><input type="checkbox" id="12th" value='12th' />12th</td>
										<td><input type="checkbox" id="CollegePrep" value='College Prep' />College Prep</td>
										<td><input type="checkbox" id="AP" value='AP' />AP</td>
									</tr>
								</table>
							<fieldset>
						</div>
					</div>
					<div class="form-group row">
						<label for="signUpPic" class="col-sm-2 col-form-label">Profile Picture</label>
						<div class="col-sm-10">
							<label class="custom-file">
								<input type="file" id="signUpPic" class="custom-file-input">
								<span class="custom-file-control"></span>
							</label>
						</div>
					</div>
					<button class="btn btn-primary" type="button" id="signup-btn">
						Submit
					</button>
				</form>
				<form class="login" style="display:none">
					<div class="form-group row">
						<label for="loginUsername" class="col-sm-2 col-form-label">Username or Email</label>
						<div class="col-sm-10">
							<input type="username" class="form-control" id="loginUsername" placeholder="Username" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="loginPassword" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="loginPassword" placeholder="Password" required>
						</div>
					</div>
					<button class="btn btn-primary" type="button" id="login-btn">
						Submit
					</button>
				</form>
			</div>
		</div>

		<script src="js/login.js"></script>
  </body>
</html>
