<!doctype html>
<html>
  <head>
    <title>Membership Directory</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
		<!-- <script src="jquery-3.2.1.min.js"></script> -->
		<script type="text/javascript" src="ejs_production.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
		hello
		hello
		hello
		<ul>
			<% for(var i=0; i<5; i++) { %>
				<li>
					<%= data[i] %>
				</li>
			<% } %>
		</ul>
  </body>
</html>
