body {
	background-color: #DDF1EA;
	margin:0px auto;
}
article {
	margin: auto;
	max-width: 680px;
}
h1 {
	color: #512888;
}
a {
	color: white;
	background-color: #512888;
	display: inline-block;
	margin: auto;
	padding: 10px 50px;
	font-size: 20px;
	text-decoration: none;
	box-shadow: 8px 8px 4px gray;
}
a:hover {
	color: #ccc;
	box-shadow: 5px 5px 2px black;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background-color: #2828a4;
}
li{
	display:inline;
	float:left;
}
li a, .dropbtn{
	display:inline-block;
	color: white;
	text-align: center;
	padding: 12px 15px;
	text-decoration: none;
	background-color: #2828a4;
	box-shadow:none;
}
li a:hover:not(.active), .dropdown:hover .dropbtn{
	background-color: #6600ff;
	box-shadow: none;
}
.active{
	background-color: #191966;
}

li.dropdown{
	display: inline-block;
}

.dropdown-content{
	display: none;
	position:absolute;
	min-width: 100px;
	box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index:1;
}

.dropdown-content a{
	color: black;
	padding: 12px 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	background-color: #ebebfa;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
		shadow-box:none;
}

.dropdown:hover .dropdown-content{
	display:block;
}

.w3-card-4 {
	background-color: white;
	color: black;
	width: 31%;
	display:inline-block;
	margin: 10px;
}

.w3-card-4:hover {
	background-color: white;
	color: black;
	width: 31%;
	display:inline-block;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1.5);
}

.w3-container {
	margin-left: 10px;
	margin-right: 10px;
}

.w3-card-4 h3,p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.w3-card-4 h3 {
	margin-bottom: 0px;
}

.w3-card-4 img {
	max-width:100%;
	max-height:100%;
}

.content {
	margin-left: 5%;
}

.col-sm-10 textarea {
	width: 100%;
	border-radius: 4px;
	border-color: 1px solid #ccc;
	color: #555;
}

.proceed_options {
	text-align: center;
	margin: 20px;
}

.signup {
	margin-bottom: 20px;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-card {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}