body {
	background-color: var(--body-color);
	margin:0px auto;
}

article {
	margin: auto;
	max-width: 680px;
}

h1 {
	color: #512888;
}

fieldset {
	padding-left: 25px;
}

/* -- Cards -- */
/* Small cards */
.w3-card-4 {
	background-color: white;
	color: black;
	width: 31%;
	display:inline-block;
	margin: 10px;
	max-height: 365px;
	border-style: solid;
 	border-width: 1.5px;
 	border-color: #E8E5BB;
}

.w3-card-4:hover {
	background-color: white;
	color: black;
	width: 31%;
	display:inline-block;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1.5);
}

.w3-container {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.w3-card-4 h3,p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.w3-card-4 h3 {
	margin-bottom: 0px;
}

.w3-card-4 img {
	max-width:100%;
	max-height:100%;
	margin: auto;
}

.card-image {
	text-align: center;
	height: 250px;
}

.content {
	margin-left: 5%;
}

.col-sm-10 textarea {
	width: 100%;
	border-radius: 4px;
	border-color: 1px solid #ccc;
	color: #555;
}

.decision-buttons {
	text-align: center;
	margin-bottom: 10px;
}

.add-hardware-card, .add-software-card, .add-curriculum-card {
	height: 365px;
}

/* Main card */
.main-card {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}

.main-card p {
	white-space: normal;
}

.proceed_options {
	text-align: center;
	margin: 20px;
}

.signup {
	margin-bottom: 20px;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* -- Header -- */
.header {
	background-color: var(--header-color);
}

#logo {
	/*background-color: white;*/
	height: 80px;
	width: 150px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

/* Page options */
.header a {
	color: white;
	background-color: red;
	display: inline-block;
	margin: auto;
	padding: 10px 10px;
	font-size: 20px;
	text-decoration: none;
	box-shadow: 8px 8px 4px gray;
}

.header a:hover {
	color: #ccc;
	box-shadow: 5px 5px 2px black;
}

.header ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background-color: var(--header-color);
	float: right;
}

.header li{
	display:inline;
	float:left;
}

.header li a, .header .dropbtn{
	display:inline-block;
	color: white;
	text-align: center;
	padding: 12px 15px;
	text-decoration: none;
	background-color: var(--header-color);
	box-shadow:none;
}

.header li a:hover:not(.active), .header .dropdown:hover .dropbtn{
	background-color: #6600ff;
	box-shadow: none;
}

.header .active{
	background-color: var(--active-option-back-color);
}

.header li.dropdown{
	display: inline-block;
}

.header .dropdown-content{
	display: none;
	position:absolute;
	min-width: 100px;
	box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index:1;
}

.header .dropdown-content a{
	color: black;
	padding: 12px 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	background-color: var(--dropdown-content-back-color);
}

.header .dropdown-content a:hover {
	background-color: #f1f1f1;
		shadow-box:none;
}

.header .dropdown:hover .dropdown-content{
	display:block;
}

/* -- Search functionality -- */
#searchField {
	background-image: url('/../images/defaults/search-icon.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
    background-position: 10px 12px;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.add-new {
	float: right;
}

/* -- Constants -- */
:root {
  --dropdown-content-back-color: #ebebfa;
  --active-option-back-color: #228b22;
  --header-color: #276d27;
  --body-color: #E8E8E8;
}